body{
    background-image: url(../img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

#home{
    /* background-image:url(../img/31.jpg); 
    background-size: 100% 100%;
    background-attachment:fixed; */

    
    opacity: 100.5;
    /* background-color: #3D3E3D; */
    /* background-repeat: no-repeat;
    background-size: cover; */
    height : 100vh; 
    font-family: Kelly Slab;
    font-size: 30px;
    color: white;
}
#home .atas{
    background-color: #343434;
}

.leader .gambar{
    border-radius: 50%;
    border: 3px solid whitesmoke;
    width: 250px;
    height: 250px;
}