/* #home{
    background-image:url(../img/caripekerjaan.jpg);
 
    background-repeat: no-repeat;
    background-size: cover;
    height : 100vh; 
    font-family: Kelly Slab;
    font-size: 30px;
    color: white;
} */