#home{
    background-image:url(../img/listperusahaan3.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    height : 100vh; 
    font-family: Kelly Slab;
    font-size: 30px;
    color: white;
}

/* .perusahaan1{
    height: 50%;
    width: 70%;
} */

.footer .atas{
    width: 100%;
    background-color: rgba(15, 15, 15, 15);
}

.footer .bawah{
    width: 100%;
    background-color: #000;
}
.atas .namaWebsite{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #9b9b9b;
}
.atas .features{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #9b9b9b;
}
.atas p:hover{
    background-color: #fa6900;
}
/* .atas .features .kontenFeatures p:hover{
    background-color: #fa6900;
} */
.bawah .namaWebsite{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #9b9b9b;
}